


<body onload = 'auth()'>

	<div>

	<a href="/">Home &#160 &#160</a>

	<a href="/users">View Users &#160 &#160</a>

	<a href="/register" id= "registerOrViewMyProfile">Register &#160 &#160</a>

	<a href="" id="orderForm"></a>

	<a href="/login" id="logInOrOut">Login &#160 &#160</a>

	<script src="../pages/client.js"></script>

</div>

</body>
