<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>

</head>
<body>
	<%- include('../partials/header'); -%>

	<h1>Welcome to the home page!<br/></h1>


	<%- include('../partials/footer'); -%>
</body>
</html>
