html
	head
		title LOTR Restaurants
	body
		include ../partials/header

		div#main
			h1 Welcome to the LOTR restaurants website!
			br
			h3 Begin by clicking the 'Order' link to make an order.
